# Lock files
package-lock.json

# Dependencies
node_modules/

# Testing
coverage
integration-tests

# Build output
lib

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Specific
.DS_Store