{
    "exclude": "(__tests__|__mocks__)",
    "jsc": {
        "target": "es2019",
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        }
    },
    "module": {
        "type": "commonjs"
    }
}