name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: yarn install

      - name: Build
        run: yarn build

      - name: Build
        run: yarn types

      - name: Format
        run: yarn prettier --check src examples

      - name: Test
        run: yarn test

      - name: Audit
        run: yarn audit
